$white-bg: #ffffff;
$dark-bg: #121212;
$black-bg: #000000;
$primary-color: purple;
$javascript: #e5c12f;
$css: #007ACC;
$html: #f3541b;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: inherit;

    &::selection{
        background-color: $javascript;
        color: $dark-bg;
        text-shadow: none;
    }
}

::-webkit-scrollbar{
    height: 5px;
    width: 5px;

    @media screen and (max-width: 600px) {
        width: 0px;
        height: 0px;
    }
}

::-webkit-scrollbar-button{
    height: 20px;
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: #fff2;
    border-radius: 100px;
    border: 1px solid #fff1;
}

#__next{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: $dark-bg;
    color: $white-bg;
    &::before,
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 50%;
        background: linear-gradient(135deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 50%, transparent 50%);
        background-size: 200% 100%;
        
        @media screen and (max-width: 700px) {
            width: 300%;
            height: 40%;
        }
    }
    &::before {
        top: 0;
        background: linear-gradient(135deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 50%, transparent 50%);
        
        @media screen and (max-width: 700px) {
            transform: translateX(5%);
        }
    }
    &::after {
        bottom: 0;
        background: linear-gradient(135deg, transparent 50%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0.6) 100%);
        
        @media screen and (max-width: 700px) {
            transform: translateX(-5%);
        }
    }
}

button{
    background-color: transparent;
}

.page{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: rgba($black-bg, 0.5);
    
    .button{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 7px 7px;
        cursor: pointer;
        transition: all 0.3s ease;
        backdrop-filter: blur(10px);

        svg{
            &.circular{
                width: 30px;
                height: 30px;
                border-radius: 1000px;
                padding: 7px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid #fff2;
                background-color: #fff1;
            }
        }

        &.outline{
            border: 1px solid #fff2;
            border-radius: 1000px;
            padding-left: 15px;

            &.deep-border{
                border-color: #fff2;
            }
        }

        &:hover{
            box-shadow: 0px 0px 10px #fff1 inset;
        }
    }

    p{
        color: #ccc;
    }

    h1{
        font-size: 50px;
        font-weight: 300;

        @media screen and (max-width: 700px) {
            font-size: 40px;
        }
        
        @media screen and (max-width: 400px) {
            font-size: 35px;
        }

        span{
            text-shadow: 0px 0px 10px #fff;
        }
    }

    .languages{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin: 20px 0;

        .language{
            font-size: 18px;

            &:first-child{
                color: $html;
            }

            &:nth-child(2){
                color: $css;
            }

            &:nth-child(3){
                color: $javascript;
            }
        }
    }

    &.home{
        font-family: "Inter", sans-serif;
        text-align: center;

        gap: 10px;

        .bottom-fixed{
            position: fixed;
            bottom: 20px;
            padding: 6px 7px;
            border: 1px solid #fff2;
            border-radius: 1000px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 7px;

            .link{
                width: 35px;
                height: 35px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 1000px;
                border: 1px solid #fff2;
                background-color: #fff1;
                font-size: 18px;

                &:hover{
                    box-shadow: 0px 0px 10px #fff1 inset;
                }
            }
        }
    }

    &.code{
        .top{
            position: fixed;
            height: 70px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 0;
            border-bottom: 1px solid #fff4;

            @media screen and (max-width: 1000px) {
                border: none !important;
            }
        }

        .bottom{
            position: fixed;
            overflow: hidden;
            height: calc(100% - 70px);
            top: 70px;
            width: 100%;
            display: flex;

            @media screen and (max-width: 1000px) {
                flex-direction: column;

                .side{
                    width: 100%;
                    height: 100%;
                    position: absolute !important;
                    overflow: hidden;

                    .head{
                        border-bottom: 1px solid #fff4;
                        // border-radius: 1000px;
                        // width: fit-content !important;
                    }

                    &:first-child{
                        border: none !important;
                    }
                }
            }

            .side{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                position: relative;
                flex: 1;

                .head{
                    height: 60px;
                    width: 100%;
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-bottom: 1px solid #fff4;
                    top: 0;
                    gap: 10px;
                    padding: 0px 20px;
                    overflow: hidden;

                    @media screen and (max-width: "1000px") {
                    }

                    .tab{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 5px;
                        padding: 7px 10px;
                        border-radius: 1000px;
                        background-color: #fff0;
                        border: 1px solid #fff2;
                        cursor: pointer;
                        font-size: 15px;
                        max-width: 200px;
                        backdrop-filter: blur(10px);

                        &:hover{
                            box-shadow: 0px 0px 10px #fff1 inset;
                        }
                        
                        svg{
                            color: #fff !important;
                        }
                        
                        &.active{
                            box-shadow: 0px 0px 10px #fff1 inset;
                            transform: scale(1);
                            background-color: #fff1;
                        }
                    }
                    
                    #html{
                        &.active{
                            svg{
                                color: $html !important;
                            }
                        }
                    }
                    
                    #css{
                        &.active{
                            svg{
                                color: $css !important;
                            }
                        }
                    }
                    
                    #js{
                        &.active{
                            svg{
                                color: $javascript !important;
                            }
                        }
                    }
                }

                .code-holder{
                    top: 60px;
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    overflow: hidden;

                    textarea{
                        background-color: transparent;
                        border: none;
                        color: #fff;
                        padding: 20px;
                        width: 100%;
                        height: 100%;
                        outline: none;
                        position: absolute;
                        padding-bottom: 1000px;
                        overflow-y: scroll;
                    }
                }

                &:first-child{
                    border-right: 1px solid #fff4;
                }
                
                &.preview{
                    z-index: 20;
                    overflow: visible;
                    background-color: $black-bg !important;

                    .iframe-holder{
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        border-radius: inherit;
                        overflow: hidden;
                    }
                    
                    .drag-up{
                        position: fixed;
                        top: 0;
                        transform: translateY(-50%);
                        background-color: rgba($dark-bg, 0.8);
                        border: 1px solid #fff4;
                        display: none;
                        z-index: 4;
                        width: 40px;
                        height: 40px;
                        padding: 0;
                        font-size: 18px;

                        svg{
                            transition: all 0.3s ease;
                        }
                    }

                    .refresh{
                        position: fixed;
                        z-index: 4;
                        bottom: 30px;
                    }
                    
                    @media screen and (max-width: 1000px) {
                        background-color: rgba($black-bg, 0.5);
                        border: 1px solid #fff4;
                        width: calc(100% - 40px);
                        left: 20px;
                        border-radius: 20px;
                        transform: translateY(calc(100% - 50px));
                        transition: all 0.5s ease;
                        height: calc(100% - 100px);
                        bottom: 0;

                        .error-message{
                            border-radius: 20px;
                        }
                        
                        .drag-up{
                            display: flex;
                        }

                        &:hover{
                            transform: translateY(calc(100% - 100px));
                        }

                        &.show{
                            transform: translateY(0);
                            width: 100%;
                            border-radius: 0px;
                            border-color: #fff0;
                            border-top-color: #fff4;
                            left: 0px;
                        
                            .drag-up{
                                svg{
                                    transform: rotate(180deg);
                                }
                            }

                            .error-message{
                                border-radius: 0px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.spin{
    svg{
        animation: spin 1s linear forwards infinite;
    }

    @keyframes spin {
        0%{
            transform: rotate(-720deg);
        }
    }
}

.error-message{
    width: 100%;
    position: fixed;
    z-index: 3;
    bottom: 0px;
    text-align: center;
    padding: 30px 50px;
    padding-bottom: 150px;
    height: calc(100%);
    overflow-y: scroll;
    background-color: #000c;
    color: red !important;
    transition: all 0.5s ease;
}

iframe{
    background-color: $dark-bg;
}